<div id='card-${productName}' class='card-panel prods'>
	<header>
		<h6 class='grpnum'> Group ${ groupNumber } </h6>
	</header>
	<br/> <br/>
	<div class='center'>
		<img class='logos' src=${imageFile}>
	</div>
	<p class='center'> ${ productName } </p>
	<textarea readonly style="overflow:auto;resize:none"> ${ productDesc } </textarea>
	<form class='invest'>
		<input type="hidden" name='name' value='${productName}'/>
		<input required type='number' name="value" id='value-${shortName}' min='0' max='1000000' step='100000' value='${val}'/>
		<input type="submit" value="INVEST" class='submit btn waves-effect waves-light validate yellow lighten-1'/>
	</form>
</div>