<div id='card-${productName}' class='card-panel prods'>
	<header>
		<h6 class='grpnum'> Group ${ groupNumber } </h6>
		<a id='${productName}' class='delete btn-floating btn-small waves-effect waves-light red'> <i class='material-icons'> delete </i> </a>
	</header>
	<div class='center'>
		<img class='logos' src=${imageFile}>
	</div>
	<p class='center'> ${ productName } </p>
	<textarea readonly style="overflow:auto;resize:none"> ${ productDesc } </textarea>
	<p class='center'> Total Investments: ${investments} </p>
</div>