body{
	background-color: #262626;
	color: white;
	font-family: "Verdana", "Arial"; 
}

h2{
	font-family: "Lucida Console", "Courier New", monospace;
}

textarea {
    overflow-y: scroll;
    height: 100px;
}



.btn{
	color: black;
}

.btn-flat{
	color: white;
}

.card-panel{
	width: 380px;
	height: 450px;
	background-color: #FFFFA5;
}

.container{
	margin: 0 auto; 
	margin-left: 25%;
}

.logos{
	width: 150px;
	height: 150px;
}

.modal{
	color: black;
	width: 600px;
}

.modal-header{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 30px;
	font-weight: bold;
	padding-left: 2%;
}

.navdiv{
	background-color: grey;
}

.navdiv:hover{
	opacity: 0.7;
}

.prods{
	float:left;
	margin: 2%;
	color: black;
	text-align: left;
}

.side-nav{
	background-color: purple;
}

#holder{
	text-align: center;
}

#product_holder{
	margin: 0 auto;
	margin-left: 3%;
}
